* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

html {

}
 
body {
    display: block;
    margin: 25px;
}

<<<<<<< HEAD
#personalContent {
    display: inline-flex;
    border-radius: 50px;
    
=======
nav li {
    font-size: 2rem;
>>>>>>> 8ca084fceafc47852f13b5cb417aa4760b755aab
}