* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

html {

}
 
body {
    display: block;
    margin: 25px;
}

#personalContent {
    display: inline-flex;
    border-radius: 50px;
    
}