* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

html {

}
 
body {
    display: block;
    position: fixed;
    margin: 25px;
    font-size: 2rem;
    background-image: url("./media/limeBackground.png");
    background-size: cover;
    height: 1000px;
}

nav li {
    
}

#personalContent {
    display: flex;
    background-color: white;
    width: 650px;
    height: 500px;
    border-radius: 350px;
    margin-top: 255px;
    margin-left: 475px;
    justify-content: center;
    text-align: center;
}